@import url('https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@300;400;500;600;700;800;900&display=swap');
:root {
	--main-color: #538fcc;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Noto Kufi Arabic', sans-serif;
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
	color: #000;
}
.container {
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}
/* Medium */
@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}
/* Large */
@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}
/* Start Nav Bar*/
nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 10px;
	background-color: #fff;
	/* -webkit-box-shadow: 0 0 10px #ddd;
	-moz-box-shadow: 0 0 10px #ddd;
	box-shadow: 0 0 10px #ddd; */
}
nav ul li {
	display: inline-block;
	margin-right: 50px;
}
nav li a {
	color: var(--main-color);
}
.logo {
	width: 200px;
}

/* Start Home */
.home {
	padding-top: 50px;
	position: relative;
	text-align: center;
}
.home .content p {
	color: rgb(70, 70, 70);
	margin: 20px auto;
	width: 80%;
	line-height: 1.9;
}
.home .content h2 {
	width: 90%;
	margin: 20px auto 0;
	color: var(--main-color);
}
